<div class="custom-card" [ngClass]="{'custom-card-grid': type === 0}">
  <div class="container-card">
    <div class="thumb-box current-status" [ngClass]="service.isUpWinning(info.votes) ? 'thumb-up': 'thumb-down'">
      <img
        [src]="service.isUpWinning(info.votes) ? service.getThumbUpImageUrl() : service.getThumbDownImageUrl()"
        alt="thumb"
      />
    </div>
    <div class="card-info">
      <img class="photo" [src]="sanitize.bypassSecurityTrustUrl(info.picture)" alt="photo">
      <div class="card-info-grid">
        <div class="card-description">
          <span class="card-description-title">{{ info.name }}</span><br />
          <span class="card-description-info">{{ info.description }}</span>
        </div>
        <div class="voting-section">
          <ng-container *ngIf="!service.votedStatusPerson[position]; else voted">
            <div class="last-updated">
              <p class="last-updated-info">
                {{ service.calculateTime(info.lastUpdated) }} month ago in {{ info.category }}
              </p>
            </div>
            <div class="voting-main-section">
              <div
                class="thumb-box thumb-up"
                [ngClass]="{'option-selected': isUpSelected}"
                (click)="selectOption(0)"
              >
                <img [src]="service.getThumbUpImageUrl()" alt="thumb" />
              </div>
              <div
                class="thumb-box thumb-down"
                [ngClass]="{'option-selected': isDownSelected}"
                (click)="selectOption(1)"
              >
                <img [src]="service.getThumbDownImageUrl()" alt="thumb" />
              </div>
              <button
                class="vote-button"
                (click)="service.vote(info, optionSelected, position)"
                [disabled]="optionSelected === undefined"
              >
                Vote Now
              </button>
            </div>
          </ng-container>
          <ng-template #voted>
            <div class="last-updated">
              <p class="last-updated-info">
                Thank for you vote!
              </p>
            </div>
            <button
              class="vote-button"
              (click)="service.updateVotedStatusPerson(position)"
            >
              Vote Again
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <zem-gauge-bar [type]="type" [votes]="info.votes"></zem-gauge-bar>
  </div>
</div>
