<div class="custom-select" *ngIf="!!options">
  <div class="main-select" (click)="changeOptionsVisibility()">
    <svg class="arrow" fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
    <span class="label">{{ selected }}</span>
  </div>
  <div class="options" *ngIf="showOptions">
    <div *ngFor="let option of options; let i = index" class="option main-select" (click)="changeValue(i)">
      <span class="label">{{ option }}</span>
    </div>
  </div>
</div>
